/* DateSelectionPage.css */

.date-selection-page {
  text-align: center;
  margin: 50px auto;
  width: 80%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
  gap: 10px;
  margin: 20px auto;
  max-width: 800px;
}

.day {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.day:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}

.day-number {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.day-of-week {
  font-size: 14px;
  margin-bottom: 5px;
}

.weather-icon {
  width: 50px;
  height: 50px;
}
